{% include 'header_and_footer/header.html' %}
<br>
<div class="container my-5 mt-4">
  {% for i in string_ %}
  <h2>{{i.title}}!</h2>
  <p>{{i.description}}.</p>
  {% endfor %}
  <div class="row">
      {% for j in film_list %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{j.image.url}}" class="card-img-top" alt="Изображение 1">
        <div class="card-body">
          <h5 class="card-title">{{j.title}}</h5>
          <p class="card-text">{{j.description}}</p>
          <a href="/film_detail/{{j.id}}/" class="btn btn-primary">Узнать больше</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>
 <h1 class="mt-4">Меню</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Гость</th>
                <th>Время</th>
                <th>Столик</th>
            </tr>
        </thead>
        <tbody>
            {% for af in afisha %}
            <tr>
                <td>{{af.title_film}}</td>
                <td>{{af.time_title}}</td>
                <td>{{af.hall}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<h2 class="mt-4 text-center">Популярные блюда</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slide in slider_list %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for slide in slider_list %}
        <div class="carousel-item {% if forloop.first %}active{% endif %} text-center">
            <img src="{{ slide.photo }}" alt="">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% include 'header_and_footer/footer.html' %}

